.form-section{
    max-width: 1497px;
    margin: 7.25rem auto;
    background-color: rgba(98, 81, 209, 0.15);
    color: var(--text-primary);
    padding: 108px 254px 128px;
    border-radius: 30px;
}

.form-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.form-content h3{
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 49px;
    grid-column: 1 / 4;
}

.form-content h3 span{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 2.5rem;

}

.form-content button{
    grid-column: 3 / 4;
    transform: translateX(-50%);
    margin-top: 2rem;
}

.form-link{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 60px;
    padding: 42px 0;
    grid-column: 1 / 2;
}

.form-link a{
    color: rgba(255, 255, 255, 0.26);
}

.form-card {
    grid-column: 2 / 4;
    display: flex;
    /* padding: 3rem; */
    margin-right: 1rem;
}

.form-card h4{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 2.25rem;
    color: rgba(225, 231, 236, 1);

}

.form-card p{
    color: rgba(130, 130, 130, 1);
    font-weight: 400;
    font-size: 1.25rem;
    margin: 1.75rem 0;

    line-height: 26px;
}

.form-card-text{
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    justify-content: center;
}

.form-card a{
    font-weight: 500;
    font-size: 1.121rem;
}

.form-card-content{
    /* padding: 3rem; */
    background-size: cover;
    background-image: url(../../assets/crosscircles.png),url(../../assets/crosscircleframe.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}

.form-link a:hover::after {
    width: 20%; 
  }
  
  .form-link a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0; /* Initially set to 0% width */
    background-color: var(--text-secondary);
    margin-top: 5px;
    transition: width 0.3s ease; /* Add a transition effect */
  }

  .form-link a.active{
    color: var(--text-primary);
    font-weight: 600;
    font-size: 1.5rem;
  }

   
  .form-link a.active::after {
    content: '';
    display: block;
    height: 3px;
    width: 5%; /* Initially set to 0% width */
    background-color: var(--text-secondary);
    margin-top: 5px;
    transition: width 0.3s ease; /* Add a transition effect */
  }

.ball{
    position: absolute;
    width: 35px;
}  

.ball1{
    right: 15rem;
    top: -1rem;
}

.ball2{
    bottom: -1.5rem;
    left: 3rem;
}

.ball3{
    right: 3rem;
    bottom: 4.5rem;
}

.ball img{
    width: 100%;
}

@media only screen and (max-width: 1325px) {
    .form-section{
        padding: 108px 137px 128px;
    }
  }
  

@media only screen and (max-width: 1130px) {
    .form-section{
        padding: 108px 60px 128px;
    }
  }
  
  

@media only screen and (max-width: 985px) {
    .ribbons{
        width: 350px;
    }
    .ribbons img{
        width: 100%;
        height: 100%;
    }
  }
  
  @media only screen and (max-width: 910px) {
    .form-content button{
        grid-column: 1 / 4;
        width: 50%;
        transform: translateX(50%);
       }
  }

@media only screen and (max-width: 850px) {
    .ribbons{
       width: 235px;
    }
  }
  
  

@media only screen and (max-width:650px) {
    .form-link{
        grid-column: 1 / 4;
        flex-direction: row;
    }
    
   .form-card{
    grid-column: 1 / 4;
   }

   .form-content button{
    margin-top: 3rem;
    display: block;
    width: 100%;
    transform: none;
   }
  
    .ball3{
        right: 3rem;
    bottom: 10.5rem;
    }

    .form-section{
        margin: 5.25rem auto;
        padding: 88px 65px ;
    }
    
  }
  
  

@media only screen and (max-width:525px) {
    .ball3{
        right: 3rem;
    bottom: 20.5rem;
    }
    .ball1{
        right: 12rem;
    top: -1rem;
    }
    .form-section{
        padding: 50px 20px 80px;
    }
    .form-content h3{
        margin-bottom: 0;
    }
  }
  
  

@media only screen and (max-width:473px) {
    .form-link {
        gap: 25px
    }
  }
  

@media only screen and (max-width:425px) {
    .ribbons{
        display: none;
    }
  }
  

@media only screen and (max-width:425px) {
    .form-link{
        flex-direction: column;
    }
  }
  