:root{
  --bgcolor : #020313;
  --text-primary : #FFFFFF;
  --text-secondary : #6352D0;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter",sans-serif;
}

.wrapper{
  max-width: 1718px;
  margin: 0 auto;
  background-color: var(--bgcolor);
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

img{
  -ms-zoom: 100%;
}

button{
  outline: none;
  border: 1px solid var(--text-secondary);
  background-color: transparent;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  padding: 25px 40px;
  border-radius: 8.23px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover{
  color: var(--text-secondary);
  background-color: var(--text-primary);
}

@media only screen and (max-width:750px) {
  h3,h3 span{
    font-size: 1.75rem !important;
    line-height: 3rem;
  }
  p{
    font-size: 1rem !important;
  }
}

