:root{
  --bgcolor : #020313;
  --text-primary : #FFFFFF;
  --text-secondary : #6352D0;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter",sans-serif;
}

.wrapper{
  max-width: 1718px;
  margin: 0 auto;
  background-color: var(--bgcolor);
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

img{
  -ms-zoom: 100%;
}

button{

  outline: none;
  border: 1px solid var(--text-secondary);
  background-color: transparent;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  padding: 25px 40px;
  border-radius: 8.23px;
  text-transform: capitalize;
}

/* Header */
 .slider-card{
  position: relative;
    text-align: center;
    color: var(--text-primary);
    height: 60vh;
} 

 .sliderContent{
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  background-image: url(./assets/sliderBg.png);
  background-repeat: no-repeat;
  padding: 5rem 2rem;
} 

.slider-card img{
  width: 100%;
  height: 100%;
}

.sliderContent h3{
  font-size: 2.25rem;
  margin-top: 0.5rem;
  margin-bottom: 2.688rem;
}

.sliderContent p{
  font-size: 1.5rem;
}



/* 

 .swiper-wrapper{
  margin-left: -45rem !important;
}  */